<ul class="engagement-metrics-list cf">
  <li>Week <%=@current_week%> <label>Current Week</label></li>
  <li> <%=@days_complete%> <label>Days complete</label></li>
  <li><%=@longest_streak%> days <label>Longest Streak</label></li>
  <!--<li><%=@number_of_guided_meditations%> <label>Guided</label></li>-->
  <li><%=@number_of_checkins%> <label>Checkins</label></li>
</ul>
