<div class="page-header">
  <h1>Change Password for <%= @user.name %></h1>
</div>

<% if @user.errors.any? %>
<div class="alert alert-error alert-block">
  <%= @user.errors.full_messages.join(', ') %>
</div>
<% end %>

<div class="well">
  <%= form_for @user, url: update_password_path, method: :put do |f| %>
  	<%= f.hidden_field :password_reset_token %>

    <%= f.label :password, 'New password' %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <div class="actions">
      <%= f.submit 'Update Password', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
